Repository Medici-Mansion/EmoChat, pull requests merged in 2023-11, with the labels that each got.

#6 feat: 프로필 아바타 등록 및 로비 UI 수정
  apps/ms-client/app/(join)/page.tsx
  apps/ms-client/app/globals.css
  apps/ms-client/components/providers/socket-provier.tsx
  apps/ms-client/components/user-setting.tsx
  apps/ms-client/types.ts
Labels: 🎨 [CLIENT]

#5 Feature/4 client 채팅방 화면 스타일기능 수정 요청
  apps/ms-client/app/(join)/page.tsx
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/loading.tsx
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/app/(root)/(routes)/layout.tsx
  apps/ms-client/app/(root)/(routes)/lobby/page.tsx
  apps/ms-client/app/api/users/route.ts
  apps/ms-client/app/favicon.ico
  apps/ms-client/app/fonts.css
  apps/ms-client/app/globals.css
  apps/ms-client/app/layout.tsx
  apps/ms-client/app/manifest.ts
  apps/ms-client/components/chat-box.tsx
  apps/ms-client/components/chat-user.tsx
  apps/ms-client/components/default-avatar.tsx
  apps/ms-client/components/face-detector.tsx
  apps/ms-client/components/header.tsx
  apps/ms-client/components/lobby.tsx
  apps/ms-client/components/providers/socket-provier.tsx
  apps/ms-client/components/room-card.tsx
  apps/ms-client/components/room-setting.tsx
  apps/ms-client/components/splash-screen.tsx
  apps/ms-client/components/ui/dropdown-menu.tsx
  apps/ms-client/components/user-setting.tsx
  apps/ms-client/public/android-chrome-192x192.png
  apps/ms-client/public/apple-touch-icon.png
  apps/ms-client/public/browserconfig.xml
  apps/ms-client/public/favicon-16x16.png
  apps/ms-client/public/favicon-32x32.png
  apps/ms-client/public/mstile-150x150.png
  apps/ms-client/public/next.svg
  apps/ms-client/public/safari-pinned-tab.svg
  apps/ms-client/socket.d.ts
  apps/ms-client/tailwind.config.ts
  apps/ms-server/src/app.module.ts
  apps/ms-server/src/chat/chat.gateway.ts
  apps/ms-server/src/chatrooms/chatrooms.controller.ts
  apps/ms-server/src/chatrooms/chatrooms.service.ts
  apps/ms-server/src/chatrooms/dtos/update-room.dto.ts
  apps/ms-server/src/logger/logger.middleware.ts
  apps/ms-server/src/messages/message.dto.ts
  apps/ms-server/src/statistics/listeners/statistics.listeners.ts
  bun.lockb
  package.json
  packages/interface/.gitignore
  packages/interface/README.md
  packages/interface/bun.lockb
  packages/interface/constant/index.ts
  packages/interface/constant/room.ts
  packages/interface/index.ts
  packages/interface/package.json
  packages/interface/tsconfig.json
Labels: 🎨 [CLIENT]

#9 Qa/ qa 실험 진행을 위한 서비스 완성 1
  apps/ms-client/app/globals.css
  apps/ms-client/components/room-setting.tsx
  apps/ms-client/components/ui/button.tsx
  apps/ms-client/components/user-setting.tsx
  apps/ms-client/tailwind.config.ts
  apps/ms-server/src/chat/chat.gateway.ts
Labels: 🎨 [CLIENT], 🔍 QA

#10 fix: 채팅박스 감정버튼에 가려지는 오류 수정
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/app/globals.css
Labels: 🎨 [CLIENT], 🔍 QA

#14 표정 가이드 모달 및 헤더 추가
  apps/ms-client/components/header.tsx
  apps/ms-client/components/modal.tsx
  apps/ms-client/public/images/face/face1.png
  apps/ms-client/public/images/face/face2.png
  apps/ms-client/public/images/face/face3.png
  apps/ms-client/public/images/face/face4.png
  apps/ms-client/public/images/face/face5.png
  apps/ms-client/public/images/face/face6.png
Labels: 🎨 [CLIENT], 🔍 QA

#15 feat: 감정 초기화 버튼 구현
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/components/animate-refresh.tsx
  apps/ms-client/components/chat-box.tsx
  apps/ms-client/components/face-detector.tsx
  apps/ms-client/components/ui/tooltip.tsx
  apps/ms-client/package.json
  apps/ms-client/types.ts
  bun.lockb
Labels: 🎨 [CLIENT], 🔍 QA

#19 [CLIENT] 전체 하단 공간 추가
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/components/face-detector.tsx
Labels: 🎨 [CLIENT], 🔍 QA

#20 [CLIENT] 모달 높이 수정
  apps/ms-client/components/modal.tsx
Labels: 💡 수정요청

#21 1.0.4
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/components/face-detector.tsx
  apps/ms-client/components/modal.tsx
Labels: ✅ 완료

#26 feat: 로비 방 목록 명 Group으로 통일 & 참가인원 수 정렬 변경
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/components/lobby.tsx
  apps/ms-client/socket.d.ts
  apps/ms-server/src/chat/chat.gateway.ts
  apps/ms-server/src/chatrooms/chatrooms.service.ts
  apps/ms-server/src/db/models/chat-room.model.ts
Labels: 🎨 [CLIENT], 🔍 QA

#30 [SERVER] feat: 메세지 전송 로직 수정
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/components/lobby.tsx
  apps/ms-client/components/user-setting.tsx
  apps/ms-client/hooks/use-socket.ts
  apps/ms-client/socket.d.ts
  apps/ms-server/src/chat/chat.gateway.ts
  apps/ms-server/src/chat/types/socket.types.ts
Labels: 💻 [SERVER], 🔍 QA

#36 [HOTFIX] feat: 재연결 시 메세지 전송 오류수정
  apps/ms-client/app/(root)/(routes)/chat/[roomName]/page.tsx
  apps/ms-client/hooks/use-socket.ts
  apps/ms-server/src/chat/chat.gateway.ts
Labels: 🎨 [CLIENT], 🔍 QA
